body{
    margin: 0; 
    padding: 0; 
    background-color: #F1F7EE;
    font-family: 'Trebuchet MS'; 
}
.top-section{
    background: #242423;
    padding: 30px; 
}
.header{
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo{
    color: white; 
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 30px; 
}
.h-links{
    font-size: 20px;
}
.about{
    display: flex;
    background: #CFDBD5;
    align-items: center;
    justify-content: center;
    padding: 80px; 
    padding-bottom: 40px;

}
.about-left{
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
}
.about-right{
    padding-left: 60px;
    padding-bottom: 60px;

}
.summary{
    font-size: 18px;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}
.self-photo{
    display: flex;
    width: 300px;
    height: 300px;
    
}
h1{
    padding-bottom: 15px;
}
.projects{
    background: #333533;
    display: flex;
    padding: 100px;
}
.accordion{
    background-color: #eee;
    color: #444; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover{
    background-color: white;
}
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}