/* Color palette link: 
https: //coolors.co/palette/cfdbd5-e8eddf-f5cb5c-242423-333533
*/
body{
    margin: 0; 
    padding: 0; 
    background-color: #F1F7EE;
    font-family: 'sans-serif'; 
}
.top-section{
    background: #242423;
    padding: 30px; 
}
.header{
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo{
    color: white; 
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 30px; 
}
.h-links{
    font-size: 20px;
}
.about{
    display: flex;
    background: #CFDBD5;
    align-items: center;
    justify-content: center;
    padding: 80px; 
    padding-bottom: 40px;

}
.about-left{
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
}
.about-right{
    padding-left: 60px;
    padding-bottom: 60px;

}
.summary{
    font-size: 18px;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}
.self-photo{
    display: flex;
    width: 300px;
    height: 300px;
    
}
h1{
    padding-bottom: 15px;
}
.projects{
    background: #333533;
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.projectTitle{
    text-align: center;
    color: white; 
    padding-bottom: 10px;
}
.accordion{
    background-color: #eee;
    color: #444; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    text-align: center;
}
.active, .accordion:hover{
    background-color: white;
}
.panel{
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.content{
    display: flex; 
    align-items: center;
    justify-content: center;    
}
.gamesButton{
    
}
.contentPics{
    display: flex; 
    align-items: center;
    justify-content: center;
    
}
.contentLeft{
    display: flex;
    padding-right: 40px;
}
.contentRight{
    
}
.formatPhoto{
    width: 500px;
    height: 375px;
}
.captions{
    text-align: center;
}

/* slides */
.myPhotos{
    display: none;
}
.slides{
    margin: auto;
    max-width: 550px;
    position: relative;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0; 
    border-radius: 3px 0 0 3px;
}
/* Contact Me */
.contact{
    padding: 60px; 
    background: #eaf4f4;
}
.contactTitle{
    text-align: center;
    font-size: 20px;
}
#email{
    color: black; 
}
#linkedin{
    color: black;
}